.button {
    position: absolute;
    background: darkslategrey;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.mode-button {
    top: -15px;
    right: -15px;
    rotate: -45deg;
}

.increase-button {
    bottom: -5px;
    right: -5px;
    rotate: 45deg;
}

.light-button {
    bottom: -15px;
    left: -15px;
    rotate: -45deg;
}

.reset-button {
    top: -5px;
    left: -30px;
    rotate: 45deg;
}

.am-pm-button {
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
}

.delete-button, .analog-button {
    position: relative;
    border-radius: 8px;
}

.delete-button {
    background: red;
}

.analog-button {
    background: darkslategrey;
}

.delete-button:hover {
    background: darkred;
}

.analog-button:hover {
    background: black;
}
