.button {
    position: absolute;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    z-index: 100;
}

.button-element {
    background: darkslategrey;
    display: block;
    width: 30px;
    height: 20px;
    border-radius: 8px;
}

.delete-button, .analog-button {
    position: relative;
    border-radius: 8px;
}

.delete-button {
    background: red;
}

.analog-button {
    background: darkslategrey;
}

.delete-button:hover {
    background: darkred;
}

.analog-button:hover {
    background: black;
}

/* Clock buttons placement */

.mode-button {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.mode-button .button-element {
    position: absolute;
    left: -10px;
    bottom: -10px;
    rotate: 45deg;
}

.mode-button:hover .button-element {
    background: black;
}

.increase-button {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.increase-button .button-element {
    position: absolute;
    left: -15px;
    top: -15px;
    rotate: -45deg;
}

.increase-button:hover .button-element {
    background: black;
}

.light-button {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}

.light-button .button-element {
    position: absolute;
    right: -10px;
    top: -10px;
    rotate: 45deg;
}

.light-button:hover .button-element {
    background: black;
}

.reset-button {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.reset-button .button-element {
    position: absolute;
    right: -10px;
    bottom: -10px;
    rotate: -45deg;
}

.reset-button:hover .button-element {
    background: black;
}

.am-pm-button {
    top: 50%;
    right: -22%;
    transform: translate(50%, -50%);
}

.am-pm-button .button-element {
    position: absolute;
    left: -10px;
    top: calc(50% - 9px);
    rotate: 90deg;
}

.am-pm-button:hover .button-element {
    background: black;
}